.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-thumbnail {
  display: block;
  margin-top: 60px;
}
.project-thumbnail span {
  z-index: 5;
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  position: absolute;
  top: 10.5%;
  right: 10.3%;
  background-color: #0c77ff;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 4px 8px #888888;
}
.project:last-child .project-thumbnail span {
  top: 82%;
  right: 40%;
}
.project-details {
  background-color: rgba(164, 164, 164, 0.15);
  border: 1px solid #0000001a;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  min-width: 250px;
  text-align: left;
  border-radius: 15px;
  padding: 2%;
}
.project-details h2 {
  margin: 0;
}
.project:first-child .project-details h2 {
  color: #49c5b6;
}
.project:nth-child(2) .project-details h2 {
  color: #ff8c00;
}

.project:last-child .project-details h2 {
  color: #bb3c93;
}

@media (min-width: 955px) {
  .project {
    position: relative;
    flex-wrap: nowrap;
  }

  .project-thumbnail span {
    right: 6%;
  }
  .project:first-child .project-thumbnail span {
    top: 10.5%;
    right: 20%;
  }
  .project:nth-child(2) .project-thumbnail span {
    top: 10.5%;
    right: 24%;
  }
  .project:last-child .project-thumbnail span {
    top: 18%;
    right: 34%;
  }

  .project-details {
    max-width: 375px;
  }
  .project-details h2 {
    font-size: 3rem;
  }
  .project:first-child {
    max-width: 62%;
  }
  .project:last-child {
    margin-top: -100px;
    max-width: 63%;
    margin-left: 5%;
  }
  .project:nth-child(2) {
    max-width: 76%;
    margin-bottom: 150px;
    margin-left: 20%;
  }
  .project:last-child {
    gap: 50px;
  }
  .project:first-child .project-details {
    position: absolute;
    top: 14%;
    right: -60%;
  }
  .project:nth-child(2) .project-details {
    position: absolute;
    top: 40%;
    left: -22.5%;
  }
  .project:last-child .project-details {
    position: absolute;
    top: 25%;
    right: -40%;
  }
}
@media (min-width: 1300px) {
  .project:first-child .project-details {
    top: 25%;
    right: -48%;
  }
  .project:last-child .project-details {
    top: 34%;
    right: -30.4%;
  }
}
