@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
.decorative {
  font-family: "Uncial Antiqua", cursive;
}
.page-break {
  opacity: 0.25;
}
.gray {
  color: #555;
}
.font-medium {
  font-size: 36px;
}
.font-large {
  font-size: 60px;
}

li {
  list-style: none;
}

.App {
  text-align: center;
  margin: 2%;
}

.App-logo {
  position: absolute;
  top: 30vh;
  left: 35vw;
  /* height: 40vmin; */
  font-size: 200px;
  pointer-events: none;
  color: rgba(50, 50, 50, 0.15);
  /* color: rgba(172, 255, 47, 0.45); */
  z-index: -1;
}
@media (min-height: 450px) {
  .App-logo {
    font-size: 250px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
