.project {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-thumbnail {
  display: block;
}
.project-details {
  background-color: rgba(164, 164, 164, 0.15);
  border: 1px solid #0000001a;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  min-width: 250px;
  text-align: left;
  border-radius: 15px;
  padding: 2%;
}
.project-details h2 {
  margin: 0;
}
.project:first-child .project-details h2 {
  color: #49c5b6;
}
.project:nth-child(2) .project-details h2 {
  color: #ff8c00;
}

.project:last-child .project-details h2 {
  color: #bb3c93;
}

@media (min-width: 950px) {
  .project {
    position: relative;
    flex-wrap: nowrap;
  }
  .project-thumbnail {
    max-width: 60%;
  }

  .project:nth-child(2),
  .project:last-child {
    flex-direction: row-reverse;
  }
  .project:nth-child(2) {
    margin-bottom: 150px;
  }
  .project:last-child {
    gap: 50px;
  }
  .project-details {
    width: 35%;
  }

  .project:first-child .project-details {
    margin-left: -75px;
  }
  .project:nth-child(2) .project-details {
    position: absolute;
    bottom: -20%;
    left: 40%;
  }
  .project-details h2 {
    font-size: 3rem;
  }
}
