.iconList {
  padding: 0;
  display: flex;
  gap: 5.5px;
  margin: 0 0 0 -10px;
}
.iconList li {
  list-style: none;
}
.iconList li img {
  height: 16px;
  width: auto;
}
.expertise {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 75px;
}

@media (min-width: 860px) {
  .iconList li img {
    height: 20px;
  }
  .expertise {
    padding-bottom: 25px;
  }
}
