.iconList {
  padding: 0;
  display: flex;
  gap: 5.5px;
  margin: 10px 0 0 -10px;
}
.iconList li {
  list-style: none;
}
.iconList li img {
  height: 16px;
  width: auto;
}
.expertise {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding-bottom: 25px;
}

@media (min-width: 435px) {
  .expertise {
    gap: 12px;
  }
}
@media (min-width: 550px) {
  .expertise {
    padding-bottom: 50px;
  }
}

@media (min-width: 860px) {
  .iconList li img {
    height: 20px;
  }
}
