.bullet_list{
   position: fixed;
   top: 1rem;
   right: 7.2%;
   z-index: 10000;
}

/* Width based media */
@media(min-width: 34rem){
 .bullet_list{
   right: 6.1%;
 }
}

@media(min-width: 42rem){
 .bullet_list{
   right: 3.2rem;
 }
}

@media(min-width: 51rem){
 .bullet_list{
   right: 6%;
 }
}

@media(min-width: 58rem){
 .bullet_list{
   right: 5%;
 }
}

@media(min-width: 80rem){
 .bullet_list{
   right: 4%;
 }
}