.main_container{
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 1;
    margin:5% 3rem 2% 0%;
    max-width: 675px; 
    color: whitesmoke;
}

.main_container_child{
background: rgba(50,50,50,0.5);  
padding: 5%; 
border-radius: 50%; 
width: max-content;
}
.main_container_child:last-of-type{
width: fit-content;
}
.headshot_container{
    position: fixed;
    right: -20%;
    bottom: -4%;
}
.headshot{
    opacity: 0.5;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    /* filter: grayscale(1); */
}

@media(min-width: 42rem){
    .main_container{
     margin:2% auto;
    }
    .headshot_container{
        right: 0%;
        bottom: 0%;
        margin-right: 4rem;
    }
}