.home {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: black;
  /* background-image: url(../../assets/images/AdobeStock_949051902.jpeg); */
  /* background-size: cover; */
  overflow: hidden;
}
.home_name{
  position: absolute;
  top: 1rem;
  right: 2%;
  z-index: 2;
  font-size: 6rem;
  font-family: "Antonio", sans-serif;
  color: whitesmoke;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
  /* line-height: 1.2;
  transform: scaleY(1.4); 
  display: inline-block; */
}
