.homeContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  margin: 2%;
  max-width: 600px;
}
.colLeft {
  align-self: center;
}
.colLeft img {
  max-height: 500px;
  max-width: 100%;
  display: none;
}
.colRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  margin-top: 35px;
}

@media (min-width: 375px) {
  .colLeft img {
    display: block;
  }
}

@media (min-width: 550px) {
  .colLeft img {
    display: block;
  }
  .homeContainer {
    margin: 0 auto;
    height: 550px;
  }
}
