.menu{
  display: block;
  position: absolute;
  top: 2%;
  left: 2%;
}
.home {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: black;
  /* background-image: url(../../assets/images/AdobeStock_949051902.jpeg); */
  /* background-size: cover; */
  overflow: hidden;
}
.home_name{
  position: absolute;
  top: 1rem;
  right: 2%;
  z-index: 2;
  font-size: 4rem;
  font-family: "Antonio", sans-serif;
  color: whitesmoke;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
  /* line-height: 1.2;
  transform: scaleY(1.4); 
  display: inline-block; */
}

.home_name span:nth-of-type(1){
  letter-spacing: 1.5rem;
  filter: drop-shadow(6px 6px 4px black);
}
.home_name span:nth-of-type(2){
  align-self: flex-end;
  display: inline-block;
  writing-mode: vertical-lr;
  -webkit-text-orientation: upright;  text-orientation: upright;
  letter-spacing: -1rem;
  margin-right: 0.75rem;
  filter: drop-shadow(6px 6px 4px black);
  }

/* Width based media */
@media(min-width: 42rem){
 .home_name{
    top: 3%;
    font-size: 6rem;
 }
  .home_name span:nth-of-type(1){
    letter-spacing: 2rem;
  }
  .home_name span:nth-of-type(2){
      margin-right: 1.6rem;
  }
}

/* Height based media */
@media(max-height: 38rem){
  /* Adjust name logo height if screen height too small */
  .home_name span{
    font-size: 5rem;
  }
  .home_name span:nth-of-type(1){
    letter-spacing: 1.5rem;
  }
  .home_name span:nth-of-type(2){
    margin-right: 1.45rem;
  }
}

@media(max-height: 32rem){
  /* Adjust name logo height if screen height too small */
  .home_name span{
    font-size: 4rem;
  }
    .home_name span:nth-of-type(2){
    margin-right: 1.3rem;
  }
}

@media(max-height: 30rem){
  /* Adjust name logo height if screen height too small */
  .home_name span{
    font-size: 3rem;
  }
  .home_name span:nth-of-type(1){
    letter-spacing: 1.5rem;
  }
  .home_name span:nth-of-type(2){
    margin-right: 0.5rem;
    letter-spacing: 0rem;
  }
}