.contact {
  position: relative;
  height: auto;
  margin: 100px 0 100px 0;
}
.contact-logo {
  top: 0vh;
  left: 46vw;
  font-size: 100px;
  opacity: 0.8;
}
.contact-email,
.contact-phone {
  text-decoration: none;
  color: inherit;
}
.links {
  margin-bottom: 15px;
}
