.iconList {
  margin: 25px 90px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.iconList li {
  list-style: none;
  grid-row: 1/2;
}
.iconList li img {
  height: 24px;
  width: auto;
}

@media (min-width: 860px) {
  .iconList li img {
    height: 36px;
  }
}
