@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");

/* html:not([data-scroll="0"]) {
  color: #0c77ff;
} */
html:not([data-scroll="0"]) header {
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
  color: #585858;
}

.decorative,
h1,
h2 {
  font-family: "Quantico", sans-serif;
  color: #0c77ff;
}

h1 {
  margin: 5px 0 15px 0;
  line-height: 3.5rem;
}

main {
  padding: 2%;
  margin: 0 auto;
}

.page-break {
  opacity: 0;
}
.gray {
  color: #555;
}
.font-medium {
  font-size: 36px;
}
.font-large {
  font-size: 60px !important;
}

li {
  list-style: none;
}

/* .App {
  text-align: center;
} */

.App-logo {
  position: absolute;
  top: 30vh;
  left: 35vw;
  /* height: 40vmin; */
  font-size: 200px;
  pointer-events: none;
  color: rgba(50, 50, 50, 0.15);
  /* color: rgba(172, 255, 47, 0.45); */
  /* z-index: -1; */
}

.hidden {
  display: none;
}
@media (min-height: 450px) {
  .App-logo {
    font-size: 250px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media (min-width: 450px) {
  .App div:nth-child(n + 3) {
    max-width: 950px;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
