@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap");

/* html:not([data-scroll="0"]) {
  color: #0c77ff;
} */
html:not([data-scroll="0"]) header {
  background-color: white;
}

body {
  font-family: "Roboto", sans-serif;
  color: #585858;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
}

.decorative,
h1,
h2 {
  font-family: "Quantico", sans-serif;
  color: #0c77ff;
}

h1 {
  margin: 5px 0 15px 0;
  line-height: 3.5rem;
}

main {
  padding: 2%;
  margin: 0 auto;
}
li {
  list-style: none;
}

.page-break {
  opacity: 0;
}
.gray {
  color: #555;
}
.font-medium {
  font-size: 36px;
}
.font-large {
  font-size: 45px;
}
.font-xlarge {
  font-size: 60px;
}

.fadeInAndOut {
  animation: fadeInAndOutBounce 5s;
}
.moveDownFadeOut {
  animation: moveDownFadeOut 2s ease-in 5s infinite;
}

.hidden {
  display: none;
}

@keyframes fadeInAndOutBounce {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes moveDownFadeOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  75% {
    opacity: 1;
    transform: translateY(8vh);
  }
  99% {
    transform: translateY(8vh) scale(1.5);
  }
  100% {
    opacity: 0;
    transform: translateY(8vh);
  }
}
